table img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .container{
    margin-top: 20px;
  }