form{
    display: flex;
    flex-direction: column;
    width: 600px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.example-card,img{
    height: 465px;
    width: 400px;
}