<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button routerLink="/">Mabu Store</button>
        <span class="example-spacer"></span>
        <span>
            <button mat-menu-item routerLink="my/cart">
                <mat-icon class="itemsCart">shopping_cart</mat-icon>
                <span class="itemNumber">
                    <!-- {{numberOfItemsInTheCart}} -->
                </span>
            </button>
        </span>
        @if(uService.currentUser){
        <span>{{uService.username}}</span>
        }
        <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            @if (uService.currentUser == null) {
            <button mat-menu-item routerLink="/login">Log in</button>

            }
            @if(uService.currentUser){
            <button mat-menu-item routerLink="my/orders">My Orders</button>
            @if(iAService.isAdmin){
            <button mat-menu-item [matMenuTriggerFor]="admin">Admin</button>
            <mat-menu #admin="matMenu">
                <button mat-menu-item routerLink="admin/products">Products</button>
                <button mat-menu-item routerLink="admin/orders">Orders</button>
            </mat-menu>
            }
            <button mat-menu-item routerLink="/" (click)="onLogOut()">Log Out</button>
            }
        </mat-menu>

    </mat-toolbar-row>